VEPYR_DIFFLY_PRESET=ensembl_everything
VEPYR_DIFFLY_EXECUTION_MODE=local
VEPYR_DIFFLY_COMPARE_MODE=fast
VEPYR_DIFFLY_BUCKET_COUNT=
VEPYR_DIFFLY_COMPARE_WORKERS=
VEPYR_DIFFLY_MEMORY_BUDGET_MB=2048
VEPYR_DIFFLY_FINGERPRINT_ONLY=false
VEPYR_DIFFLY_INPUT_VCF=/Users/lukaszjezapkowicz/Downloads/HG002_GRCh38_1_22_v4.2.1_benchmark.vcf
VEPYR_DIFFLY_OUTPUT_DIR=runs/local-smoke
VEPYR_DIFFLY_SAMPLE_FIRST_N=1000
VEPYR_DIFFLY_VEP_CACHE_DIR=/Users/lukaszjezapkowicz/.vep
VEPYR_DIFFLY_VEP_CACHE_VERSION=115
VEPYR_DIFFLY_VEPYR_CACHE_OUTPUT_DIR=/Users/lukaszjezapkowicz/Desktop/magisterka/praca/vepyr_diffly/.cache/vepyr_cache
VEPYR_DIFFLY_PLUGIN_CLINVAR_SOURCE=
VEPYR_DIFFLY_PLUGIN_SPLICEAI_SOURCE=
VEPYR_DIFFLY_PLUGIN_CADD_SNV_SOURCE=
VEPYR_DIFFLY_PLUGIN_CADD_INDEL_SOURCE=
VEPYR_DIFFLY_PLUGIN_ALPHAMISSENSE_SOURCE=
VEPYR_DIFFLY_PLUGIN_DBNSFP_SOURCE=
VEPYR_DIFFLY_REFERENCE_FASTA=/Users/lukaszjezapkowicz/.vep/homo_sapiens/115_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa
VEPYR_DIFFLY_VEPYR_PATH=/Users/lukaszjezapkowicz/Desktop/magisterka/praca/vepyr_diffly/vepyr
VEPYR_DIFFLY_VEPYR_PYTHON=/Users/lukaszjezapkowicz/Desktop/magisterka/praca/gdl-annotations-infra/modules/python/annotator_testing/runner/.vepyr/bin/python
VEPYR_DIFFLY_VEP_BIN=/Users/lukaszjezapkowicz/VepAnnotations/ensembl/ensembl-vep/vep
VEPYR_DIFFLY_VEP_PERL5LIB=/Users/lukaszjezapkowicz/VepAnnotations/ensembl/ensembl-vep/biodbhts/blib/lib:/Users/lukaszjezapkowicz/VepAnnotations/ensembl/ensembl-vep/biodbhts/blib/arch:/Users/lukaszjezapkowicz/VepAnnotations/ensembl/ensembl-vep/modules:/Users/lukaszjezapkowicz/VepAnnotations/ensembl/ensembl/modules:/Users/lukaszjezapkowicz/VepAnnotations/ensembl/ensembl-io/modules:/Users/lukaszjezapkowicz/VepAnnotations/ensembl/ensembl-variation/modules:/Users/lukaszjezapkowicz/VepAnnotations/ensembl/ensembl-funcgen/modules:/Users/lukaszjezapkowicz/VepAnnotations/ensembl/ensembl-compara/modules
VEPYR_DIFFLY_VEP_MERGED=false
